<div class="grid">
  <div class="col-12">

    <p-panel header="Floorplan Details" styleClass="shadow-3">
      <div class="grid">

        <div class="col-12 lg:col-4">
          <p-panel [showHeader]="false" styleClass="h-full shadow-3">
            <div class="flex flex-column gap-3">

              <div class="flex justify-content-between">
                <div class="font-bold">Name</div>
                <div class="text-right">{{ currentFloorplan.Name }}</div>
              </div>

              <div class="flex flex-column text-center">
                <div class="font-bold">Description</div>
                <div class="w-full mt-1">
                  {{ currentFloorplan.Description }}
                </div>
              </div>

            </div>
          </p-panel>
        </div>

        <div class="col-12 lg:col-4">
          <p-panel [showHeader]="false" styleClass="h-full shadow-3">
            <div class="flex flex-column gap-2">

              <div class="flex justify-content-between">
                <div class="font-bold">Price(R)</div>
                <div>{{ currentFloorplan.Price }}</div>
              </div>

              <div class="flex justify-content-between">
                <div class="font-bold">Address Type</div>
                <div>{{ currentFloorplan.Address.Type }}</div>
              </div>
            </div>
          </p-panel>
        </div>

        <div class="col-12 lg:col-4">
          <p-panel [showHeader]="false" styleClass="h-full shadow-3">
            <div class="flex flex-column gap-2">

              <div class="flex justify-content-between">
                <div class="font-bold">Address</div>
                <div class="text-right">{{ currentFloorplan.Address.Line1 }}</div>
              </div>

              <div *ngIf="currentFloorplan.Address.Line2" class="flex justify-content-between">
                <div class="font-bold">Address (line2)</div>
                <div class="text-right">{{ currentFloorplan.Address.Line2 }}</div>
              </div>

              <div *ngIf="currentFloorplan.Address.Line3" class="flex justify-content-between">
                <div class="font-bold">Address (line3)</div>
                <div class="text-right">{{ currentFloorplan.Address.Line3 }}</div>
              </div>

            </div>
          </p-panel>
        </div>

      </div>
    </p-panel>

  </div>
</div>


<div class="grid">
  <div class="col-12 lg:col-8 lg:col-offset-3">

    <div class="fp-wrap">
      <img [src]="currentFloorplan.MainImage.MainImage"
           [alt]="currentFloorplan.Name"
           usemap="#floorplan-map"
           #planImg
           (load)="onImgLoad(planImg)" />

      <svg class="fp-overlay"
           *ngIf="naturalW && naturalH"
           [attr.viewBox]="'0 0 ' + naturalW + ' ' + naturalH"
           preserveAspectRatio="xMidYMid meet">
        <ng-container *ngFor="let room of currentFloorplan.Rooms; trackBy: trackByRoomId">
          <rect class="room"
                [attr.x]="room.Coordinates.x"
                [attr.y]="room.Coordinates.y"
                [attr.width]="room.Coordinates.width"
                [attr.height]="room.Coordinates.height"
                [class.active]="selectedRoomId === room.Id"
                (click)="selectRoom(room)"
                (mouseenter)="hoveredRoomId = room.Id"
                (mouseleave)="hoveredRoomId = null">
          </rect>

          <text [attr.x]="room.Coordinates.x + room.Coordinates.width / 2"
                [attr.y]="room.Coordinates.y + room.Coordinates.height / 2"
                text-anchor="middle"
                dominant-baseline="middle"
                class="text-style">
            {{ room.Name }}
          </text>
        </ng-container>
      </svg>
    </div>
  </div>
</div>

@if (currentRoom) {

<div class="grid mt-2 justify-content-center">
  <div class="col-12 lg:col-4">
    <p-panel header="Room Details" styleClass="shadow-3">
      
      <div class="flex flex-column gap-2 mb-3">
        <div class="flex justify-content-between">
          <div class="font-bold">Name</div>
          <div class="text-right">{{ currentRoom.Name }}</div>
        </div>

        <div class="flex justify-content-between">
          <div class="font-bold">Description</div>
          <div class="text-right">{{ currentRoom.Description }}</div>
        </div>
      </div>

      <div class="grid">
        <div class="col-12 text-center">
          <h3 class="m-0 text-lg md:text-xl">Room Gallery</h3>
        </div>

        <div class="col-12">
          <p-panel styleClass="w-full">
            <p-galleria [value]="currentRoom.ImageList"
                        [numVisible]="2"
                        [responsiveOptions]="responsiveOptions"
                        [circular]="true"
                        [showIndicators]="false"
                        [showItemNavigators]="true"
                        styleClass="w-full"
                        [containerStyle]="{ 'width': '100%' }">
              <ng-template pTemplate="item" let-item>
                <img [src]="item.MainImage" alt="" class="w-full border-round" />
              </ng-template>

              <ng-template pTemplate="thumbnail" let-item>
                <img [src]="item.ThumbnailImage" alt="" class="w-full border-round" />
              </ng-template>
            </p-galleria>
          </p-panel>
        </div>
      </div>
    </p-panel>
  </div>
</div>

} @else {

<div class="grid justify-content-center">
  <div class="col-12 md:col-6 lg:col-4 flex flex-column text-center gap-2 p-3">
    <i class="pi pi-info-circle text-lg"></i>
    <div>
      Click a room on the floorplan to see its details here.
    </div>
  </div>
</div>

}

<div class="grid mt-7">
  <div class="col-12 text-center">
    <h2 class="m-0 text-xl md:text-2xl">Main Gallery</h2>
  </div>

  <div class="col-12 md:col-10 md:col-offset-1 lg:col-8 lg:col-offset-2 xl:col-6 xl:col-offset-3">
    <p-panel styleClass="w-full shadow-3">
      <p-galleria [value]="currentFloorplan.ImageList"
                  [numVisible]="5"
                  [responsiveOptions]="responsiveOptions"
                  [circular]="true"
                  [showIndicators]="false"
                  [showItemNavigators]="true"
                  styleClass="w-full">

        <ng-template pTemplate="item" let-item>
          <img [src]="item.MainImage" alt="" class="w-full" />
        </ng-template>

        <ng-template pTemplate="thumbnail" let-item>
          <img [src]="item.ThumbnailImage" alt="" class="w-full" />
        </ng-template>
      </p-galleria>
    </p-panel>
  </div>
</div>

<!--
  THIS WAS THE RAW BASIC I MANUALLY CREATED, I THEN ABSTRACTED AND EXTENDED THIS MODEL

  <div class="grid">

  <div class="col-10 col-offset-3">

    <div class="fp-wrap">
      <img src="floorplan.jpg" usemap="#floorplan-map" #planImg (load)="onImgLoad(planImg)" />


      <svg class="fp-overlay" *ngIf="naturalW && naturalH"
           [attr.viewBox]="'0 0 ' + naturalW + ' ' + naturalH"
           preserveAspectRatio="xMidYMid meet">


        <rect x="75" y="40" width="150" height="230"
              class="room"
              [class.active]="selectedRoom === 'Badkamer'"
              (click)="selectRoom('Badkamer')"
              (mouseenter)="hovered='Badkamer'"
              (mouseleave)="hovered=null" />


        <text [attr.x]="75 + 150 / 2"
              [attr.y]="40 + 230 / 2"
              text-anchor="middle"
              dominant-baseline="middle"
              style="pointer-events:none; font: 600 16px sans-serif; fill:#111; paint-order:stroke; stroke:#fff; stroke-width:2">
          Badkamer
        </text>


        <rect x="230" y="40" width="420" height="230"
              class="room"
              [class.active]="selectedRoom === 'Slaapkamer'"
              (click)="selectRoom('Slaapkamer')"
              (mouseenter)="hovered='Slaapkamer'"
              (mouseleave)="hovered=null" />

        <rect x="230" y="285" width="540" height="300"
              class="room"
              [class.active]="selectedRoom === 'Woonkamer'"
              (click)="selectRoom('Woonkamer')"
              (mouseenter)="hovered='Woonkamer'"
              (mouseleave)="hovered=null" />

        <rect x="75" y="285" width="150" height="107"
              class="room"
              [class.active]="selectedRoom === 'Hal'"
              (click)="selectRoom('Hal')"
              (mouseenter)="hovered='Hal'"
              (mouseleave)="hovered=null" />

        <rect x="75" y="400" width="150" height="185"
              class="room"
              [class.active]="selectedRoom === 'Keuken'"
              (click)="selectRoom('Keuken')"
              (mouseenter)="hovered='Keuken'"
              (mouseleave)="hovered=null" />

        <rect x="672" y="40" width="97" height="230"
              class="room"
              [class.active]="selectedRoom === 'Balkon'"
              (click)="selectRoom('Balkon')"
              (mouseenter)="hovered='Balkon'"
              (mouseleave)="hovered=null" />


      </svg>

    </div>

    <p>hovered: {{hovered}}</p>

  </div>
</div>-->
